JWT_SECRET="welldropp_task_manager_secret_key_123"
SUPABASE_URL="https://vycdqckxxnvmxkqwxosr.supabase.co"
SUPABASE_SERVICE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZ5Y2RxY2t4eG52bXhrcXd4b3NyIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MjA1NTk2NywiZXhwIjoyMDk3NjMxOTY3fQ.FHl5XJMOyFdVAjEDW-qy2pHcOlgHCCbxluu598IiUeg"
